body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*header, footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}*/

main {
  background-color: white;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  text-align: center;
}

#pwd_label {
  font-size: 1.2em;
  margin-bottom: 1em;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin: 0.5em;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  margin: 1em 0;
  border-collapse: collapse;
}

td {
  padding: 0.5em;
  text-align: left;
}

label {
  font-weight: bold;
}

input[type="range"] {
  width: 100%;
}

#show_range {
  font-weight: bold;
}

#password_table {
  margin-top: 1em;
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
}

#password_table td {
  border: 1px solid #ddd;
  padding: 0.5em;
}

table > tbody > tr > :nth-child(1) {
  box-sizing: border-box;
  width: 200px;
}
table > tbody > tr > :nth-child(2) {
  box-sizing: border-box;
  width: 300px;
}
table > tbody > tr > :nth-child(3) {
  box-sizing: border-box;
  width: 200px;
}
.password_table_head{
    margin-top: 16px;
    display: flex;
}
.pw_name {
    font-weight: bold;
    width: 200px;
    text-align: left;
}

.pw {
    font-weight: bold;
    flex-grow: 1;
    text-align: left;
}

.password_table_container{
    max-height: 400px;
    height: 400px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.password_table_container::-webkit-scrollbar {
    display: none;
}